files: [
    name: 'index'
    title: 'Корень'

    pos: 'navbar'
    data: [
        title: 'Добро пожаловать!'
        text: """
            Это главная страница.
            Ничего содержательного, только ссылки на разные
            разделы. Сайт нужен только для того чтобы связать
            некоторые конспекты.
            """
        ]
    ,
    name: 'analysis'
    title: 'Анализ'

    pos: 'navbar'
    data: [
        title: 'Из курса Мкртчяна П.З.'
        links: [
            title: '===----  [окрстности]  ----==='
        ,
            title: 'ε-окрестность вещественной точки x0'
            url:  ''
        ,
            title: 'ε-окрестность +∞'
            url:  ''
        ,
            title: 'ε-окрестность -∞'
            url:  ''
        ,
            title: 'ε-окрестность ∞'
            url:  ''
        ,
            title: 'внутренняя точка множества А ⊂ R'
            url:  ''
        ,
            title: 'открытое множество А'
            url:  ''
        ,
            title: 'окрестность точки x0'
            url:  ''
        ,
            title: 'граничная точка множества А ⊂ R'
            url:  ''
        ,
            title: 'замыкание множества А'
            url:  ''
        ,
            title: 'замкнутое множество'
            url:  ''
        ,
            title: 'предельная точка множества А ⊂ R'
            url:  ''
        ,
            title: 'изолированная точка множества А ⊂ R'
            url:  ''
        ,
            title: '===----  [пределы]  ----==='
        ,
            title: '===----  [непрерывные]  ----==='
        ,
            title: '===----  [замечательные]  ----==='
            ]
        ]
    ,
    name: 'logica'
    title: 'Логика'
    pos: 'navbar'
    ,
    name: 'probability'
    title: 'Вероятность'
    pos: 'navbar'
    ,
    name: 'linear'
    title: 'Линейная'
    pos: 'navbar'
    ]
